# Cif File
*.cif

# Cu_* folders
structures/
function_scripts/calculate_photo_properties.py
.vscode/
# Markdown files
*.md
test.ipynb
*.e*
optados/src/*.o
optados/src/*.mod
*.x
CO_on_Cu111.xyz
GaAs_run.ipynb

